<main>
  <div class="container px-5 px-sm-0">
  <div class="row">
  <div class="col-md-3">

    <% if flash[:notice] %>
     <p id="notice">
       <%= flash[:notice] %>
     </p>
    <% end %>

  <h1>User info</h1>

  <table class="table">
  <tbody><tr></tr>
  <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %>
  <th>name：<%= @user.name %></th>
  <th>introduction：<%= @user.introduction %></th>
  </tbody>
  </table>

   <%= link_to edit_user_path(@user.id), method: :get do %>
   <i class="fas fa-user-cog"></i>
   <% end %>

   <h3>New book</h3>
   <%= form_with model: @newbook, local:true do |f| %>
   <p>Title</p>
   <%= f.text_field :title %>
   <p>Opinion</p>
   <%= f.text_area :body %>
   <%= f.submit 'Create Book' %>
   <% end %>
   </div>

  <div class="col-md-8 offset-md-1">
  <table class="table table-hover table-inverse">
   <h4>Books</h4>
   <thead>
    <th> </th>
    <th>Title </th>
    <th>Opinion </th>
    <th colspan="3"></th>
    <tr></tr>
    <tr>
    <% @books.each do |book| %>
    <th><%= link_to attachment_image_tag(@user, :profile_image,  :fill, 60, 60, fallback: "no_image.jpg"), user_path(book.user) %></th>
    <th><%= link_to book.title, book_path(book.id) %></th>
    <th><%= book.body %></th>
    </tr>
    <% end %>
   <thead>
  </table>
  </div>

  </div>
  </div>
</main>

