<main>
  <div class="container px-5 px-sm-0">
  <div class="row">
  <div class="col-md-3">

   <% if flash[:notice] %>
     <p id="notice">
       <%= flash[:notice] %>
     </p>
   <% end %>

  <h1>User info</h1>
  <table class="table">
  <tbody>
  <tr><th><%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %></th></tr>
  <tr><th>name：<%= @user.name %></th></tr>
  <tr><th>introduction：<%= @user.introduction %></th></tr>
  <tr><th>follows</th></tr>
  <tr><th>followers</th></tr>
  </tbody>
  </table>

<%= link_to edit_user_path(@user.id), class: 'btn btn-outline-secondary', method: :get do %>
  <i class="fas fa-user-cog"></i>
  <% end %>

<h3>New book</h3>
 <%= form_with model: @newbook, local:true do |f| %>
  <p>Title</p>
  <%= f.text_field :title %>
  <p>Opinion</p>
  <%= f.text_area :body %>
  <%= f.submit 'Create Book', class: 'btn btn-success' %>
<% end %>
</div>

<div class="col-md-8 offset-md-1">
 <h4>Book detail</h4>
 <table class="table table-hover table-inverse">
  <thead>
  <th> </th>
  <th> </th>
  <th> </th>
  <th> </th>
  <th> </th>
  <th colspan="5"></th>
  <tr></tr>
  <tr>
  <th><%= link_to user_path(@book.user) , target: "_blank" do %>
  　　　<%= attachment_image_tag(@book.user, :profile_image,  :fill, 60, 60, fallback: "no_image.jpg") %>
  　 　<%= @book.user.name  %>
　　　<% end %></th>
  <th><%= link_to @book.title, book_path(@book.id) %></th>
  <th><%= @book.body %></th>
  <% if @user.id == current_user.id %>
  <th><%= link_to 'Edit', edit_book_path(@book.id) %></th>
  <th><%= link_to "Destroy", book_path(@book.id), method: :delete, "data-confirm" => "本当に消しますか?" %></th>
  <% end %>

   <th><% if @book.favorited_by?(current_user) %>
    <p><%= link_to book_favorites_path(@book.id), method: :delete do %>
    <i class="fas fa-heart" style="color: red;"></i>
        <%= @book.favorites.count %>
       <% end %></p>
      <% else %>
       <p><%= link_to book_favorites_path(@book.id), method: :post do %>
       <i class="fas fa-heart" style="color: royalblue;"></i>
          <%= @book.favorites.count %>
          <% end %></p>
      <% end %></th>

  </tr>
  <thead>
 </table>

  <div class="comments">
      <th><p>コメント件数：<%= @book.book_comments.count %></p>
        <% @book.book_comments.each do |book_comment| %>
        <p><%= attachment_image_tag(@book.user, :profile_image,  :fill, 60, 60, fallback: "no_image.jpg") %></p>
           <%= book_comment.user.name %>
           <%= book_comment.comment %>
           <% if book_comment.user == current_user %>
           <% if @user.id == current_user.id %>
           <div class="comment-delete">
            <%= link_to "削除", book_comment_path(book_comment), method: :delete, "data-confirm" => "本当に消しますか?" %>
           </div><% end %>
            <% end %>
        <% end %>
           </div>
        <div class="new-comment">
        <%= form_with(model:[@book, @book_comment], local: true) do |f| %>
        <%= f.text_area :comment, rows:'5',placeholder: "コメントをここに" %>
        <%= f.submit "送信する" %>
        <% end %></th>
        </div>
 </div>

 </div>
 </div>
</main>